@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 33% 96%;
    --foreground: 17 92% 16%;
    --card: 0 0% 100%;
    --card-foreground: 17 92% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 17 92% 16%;
    --primary: 40 75% 55%;
    --primary-foreground: 17 92% 16%;
    --secondary: 43 67% 77%;
    --secondary-foreground: 17 92% 16%;
    --muted: 43 67% 85%;
    --muted-foreground: 17 92% 30%;
    --accent: 19 88% 30%;
    --accent-foreground: 20 33% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 33% 90%;
    --input: 20 33% 90%;
    --ring: 40 75% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 17 92% 10%;
    --foreground: 20 33% 96%;
    --card: 17 92% 12%;
    --card-foreground: 20 33% 96%;
    --popover: 17 92% 10%;
    --popover-foreground: 20 33% 96%;
    --primary: 40 75% 55%;
    --primary-foreground: 17 92% 16%;
    --secondary: 19 88% 25%;
    --secondary-foreground: 20 33% 96%;
    --muted: 19 88% 20%;
    --muted-foreground: 20 33% 80%;
    --accent: 19 88% 40%;
    --accent-foreground: 20 33% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 19 88% 20%;
    --input: 19 88% 20%;
    --ring: 40 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
